@import bourbon

.container
  max-width: 80%;
  margin: 0 auto;
  font-family: sans-serif;

.search-box
  display: inline-block
  width: 100%
  border-radius: 3px
  padding: 4px 55px 4px 15px
  position: relative
  background: #fff
  border: 1px solid #ddd
  @include transition(all 200ms ease-in-out)

  &.hovered,
  &:hover,
  &:active
    border: 1px solid #aaa

  input[type=text]
    border: none
    box-shadow: none
    display: inline-block
    padding: 0
    background: transparent

    &:hover,
    &:focus,
    &:active
      box-shadow: none

  .search-btn
    position: absolute
    right: 2px
    top: 2px
    color: #aaa
    border-radius: 3px
    font-size: 21px
    padding: 5px 10px 1px
    @include transition(all 200ms ease-in-out)

    &:hover
      color: #fff
      background-color: #8FBE00
.table
   background-color: #e5e5e5
   border-spacing: 0
