{% extends "changeInCoordinate.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<form class="m-2" action="{{ url_for('sphericalChanged')}}" method="post">
  <div class="form-group">
    <input type="number" class="form-control" id="x" aria-describedby="x coorindate" placeholder="X coorindate" name="x" step="any" required>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="y" aria-describedby="y coorindate" placeholder="Y coorindate" name="y" step="any" required>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="z" aria-describedby="z coorindate" placeholder="Z coorindate" name="z" step="any" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Coordinate System to change into:</label>
    <select class="form-control" id="exampleFormControlSelect1" name='to' required>
      <option>Spherical</option>
      <option>Cylindrical</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% block content1 %}
{% endblock %}

{% endblock %}