{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<div class="dropdown m-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Coordinate System 1
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/cartesianchange">Cartesian</a>
    <a class="dropdown-item" href="#">Spherical</a>
    <a class="dropdown-item" href="#">Cylindrical</a>
  </div>
</div>
{% block content %}
{% endblock %}
{% endblock %}
