{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
{% endblock %}

{% block page_content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1> Physical Quantities</h1>
      <p class='lead'>You can search here dimensions of any specific physical quantity</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <div class='search-box'>
        <form class='search-form'>
          <input class='form-control' placeholder='ex: length, mass, time, displacement, velocity, etc.' type='text'>
          <button class='btn btn-link search-btn'>
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% block content %}
{% endblock %}
  <script>
  $('#autocomplete1').autocomplete({
      serviceUrl: '/search/names',
      dataType: 'json',
      onSearchComplete: function (query, suggestions) {
        console.log(query);
      }
  });

  </script>

  {% endblock %}