{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toggle.css')}}">
{{ super() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

       <script>
  $( function() {
    var availableTags = [
        {% for suggestion in suggestion %}
            "{{ suggestion }}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>


    
{% endblock %}
{% block page_content %}

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1> Physical Quantities</h1>
      <p class='lead'>You can search here dimensions of any specific physical quantity</p>
    </div>
  </div>
        <form class="form-inline" action="{{ url_for('dimensionTable')}}" method="post">

  <div class="form-group mx-sm-1 mb-2">
    <input class='form-control' placeholder='ex: length, mass, time, etc.' type='text' name='quantity' id="tags">
  </div>
  <button type="submit" class="btn btn-primary mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</button>


  <label class="ml-3 mr-3">
    Show All

  {% if toggle == 1 %}
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-success ml-2" >
    <input type="radio" name="showAll" id="option1" value="yes" autocomplete="off" onChange="
          this.form.submit()"> Yes
  </label>
  <label class="btn btn-outline-danger active">
    <input type="radio" name="showAll" id="option2" value = "no" checked autocomplete="off" checked onChange="this.form.submit()"> No
  </label>
</div>
{% elif toggle == 0 %}
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-success active">
    <input type="radio" name="showAll" id="option1" value="yes" autocomplete="off" onChange="
          this.form.submit()"> Yes
  </label>
  <label class="btn btn-outline-danger">
    <input type="radio" name="showAll" id="option2" value="no" autocomplete="off" onChange="
          this.form.submit()"> No
  </label>
</div>
{% endif %}
</label>
</form>
</div>
 <div class="container">
  <br>
{% block content %}
{% endblock %}
</div>

  {% endblock %}