{% extends "base.html" %}

{% block head %}
{{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

       <script>
  $( function() {
    var availableTags = [
        {% for suggestion in suggestion %}
            "{{ suggestion }}",
        {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>


    
{% endblock %}
{% block page_content %}

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1> Physical Quantities</h1>
      <p class='lead'>You can search here dimensions of any specific physical quantity</p>
    </div>
  </div>
        <form class="form-inline" action="{{ url_for('dimensionTable')}}" method="post">

  <div class="form-group mx-sm-1 mb-2">
    <input class='form-control' placeholder='ex: length, mass, time, etc.' type='text' name='quantity' id="tags">
  </div>
  <button type="submit" class="btn btn-primary mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</button>
<br>
<label class="switch">
  <input type="checkbox" name="showAll" checked>
  <span class="slider round"></span>
</label>
</form>
      </div>

{% block content %}
{% endblock %}


  {% endblock %}